.carte {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 800px;
    height: 400px;
}

.number {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid red;
    width: 650px;
}